# Environment files
.env
**/.env

# Virtual environments
.venv/
**/.venv/

# Python cache
__pycache__/
**/__pycache__/
*.py[cod]

# Tool caches
.ruff_cache/
**/.ruff_cache/
.pytest_cache/
**/.pytest_cache/
.mypy_cache/
**/.mypy_cache/

# PyCharm
.idea/